.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.header {
  display: inherit;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: burlywood;
}

.navbar {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: grey;
}

.main {
  display: inherit;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  background-color: azure;
}

.footer {
  display: inherit;
  position: fixed;
  left: 0;
  bottom: 0;
  justify-content: space-around;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  background-color: green;
}
